USE [master]
GO
/****** Object:  Database [LaptopTanNguyen]    Script Date: 14/12/2025 7:30:56 AM ******/
CREATE DATABASE [LaptopTanNguyen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopTanNguyen', FILENAME = N'D:\Research\DeTaiWeb2025\Tan\LaptopTanNguyen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaptopTanNguyen_log', FILENAME = N'D:\Research\DeTaiWeb2025\Tan\LaptopTanNguyen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopTanNguyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopTanNguyen]
GO
USE [LaptopTanNguyen]
GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptop]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop](
	[MaLap] [int] IDENTITY(1,1) NOT NULL,
	[TenLap] [nvarchar](200) NOT NULL,
	[CauHinh] [nvarchar](max) NULL,
	[MaHang] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TonKho] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TongHopLaptop]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 5. TẠO VIEW (ĐỂ HIỂN THỊ DỮ LIỆU ĐẸP)
-- =============================================

-- View 1: Danh sách Laptop đầy đủ (Kèm tên hãng)
CREATE VIEW [dbo].[vw_TongHopLaptop] AS
SELECT l.*, h.TenHang 
FROM Laptop l JOIN HangSanXuat h ON l.MaHang = h.MaHang;
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DoanhThu_Ngay]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View 2: Thống kê Doanh thu theo Ngày (Cho Dashboard)
CREATE VIEW [dbo].[vw_DoanhThu_Ngay] AS
SELECT 
    CONVERT(date, NgayDat) AS Ngay, 
    SUM(TongTien) AS DoanhThu,
    COUNT(MaDH) AS SoDonHang
FROM DonHang 
WHERE TrangThai = N'Đã giao'
GROUP BY CONVERT(date, NgayDat);
GO
/****** Object:  View [dbo].[vw_CanhBaoTonKho]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View 3: Thống kê Tồn kho (Để biết cái nào sắp hết)
CREATE VIEW [dbo].[vw_CanhBaoTonKho] AS
SELECT TenLap, TonKho 
FROM Laptop 
WHERE TonKho <= 5;
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaLap] [int] NOT NULL,
	[DuongDan] [nvarchar](255) NOT NULL,
	[SapXep] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaLap] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[GiaBan]),
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NOT NULL,
	[MaLap] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[GiaNhap]),
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](150) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 14/12/2025 7:30:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[Email] [varchar](100) NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[VaiTro] [varchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([MaAnh], [MaLap], [DuongDan], [SapXep]) VALUES (1, 1, N'dell1.png', 1)
INSERT [dbo].[Albums] ([MaAnh], [MaLap], [DuongDan], [SapXep]) VALUES (2, 1, N'dell2.png', 2)
INSERT [dbo].[Albums] ([MaAnh], [MaLap], [DuongDan], [SapXep]) VALUES (3, 1, N'dell3.png', 3)
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaLap], [SoLuong], [GiaBan]) VALUES (1, 1, 6, 1, CAST(18990000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaLap], [SoLuong], [GiaBan]) VALUES (2, 2, 1, 1, CAST(14990000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaLap], [SoLuong], [GiaBan]) VALUES (3, 2, 2, 1, CAST(10500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaLap], [SoLuong], [GiaNhap]) VALUES (1, 1, 1, 10, CAST(12000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaLap], [SoLuong], [GiaNhap]) VALUES (2, 1, 3, 5, CAST(14000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaLap], [SoLuong], [GiaNhap]) VALUES (3, 2, 6, 20, CAST(16000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [MaTK], [NgayDat], [TrangThai], [TongTien], [DiaChiGiaoHang]) VALUES (1, 2, CAST(N'2024-03-05T00:00:00.000' AS DateTime), N'Đã giao', CAST(18990000.00 AS Decimal(18, 2)), N'123 Cầu Giấy, HN')
INSERT [dbo].[DonHang] ([MaDH], [MaTK], [NgayDat], [TrangThai], [TongTien], [DiaChiGiaoHang]) VALUES (2, 3, CAST(N'2024-03-06T00:00:00.000' AS DateTime), N'Chờ duyệt', CAST(25490000.00 AS Decimal(18, 2)), N'456 Lê Duẩn, ĐN')
INSERT [dbo].[DonHang] ([MaDH], [MaTK], [NgayDat], [TrangThai], [TongTien], [DiaChiGiaoHang]) VALUES (3, 2, CAST(N'2024-03-10T00:00:00.000' AS DateTime), N'Đã hủy', CAST(19490000.00 AS Decimal(18, 2)), N'123 Cầu Giấy, HN')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HangSanXuat] ON 

INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [MoTa]) VALUES (1, N'Dell', N'Thương hiệu bền bỉ đến từ Mỹ')
INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [MoTa]) VALUES (2, N'Asus', N'Thiết kế trẻ trung, sáng tạo')
INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [MoTa]) VALUES (3, N'HP', N'Laptop văn phòng sang trọng')
SET IDENTITY_INSERT [dbo].[HangSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptop] ON 

INSERT [dbo].[Laptop] ([MaLap], [TenLap], [CauHinh], [MaHang], [GiaBan], [HinhAnh], [TonKho], [NgayTao], [MoTa]) VALUES (1, N'Dell Inspiron 15 3520', N'Core i5 1235U, 8GB RAM, 512GB SSD, 15.6" FHD 120Hz', 1, CAST(14990000.00 AS Decimal(18, 2)), N'dell1.png', 5, CAST(N'2025-12-12T20:23:53.303' AS DateTime), NULL)
INSERT [dbo].[Laptop] ([MaLap], [TenLap], [CauHinh], [MaHang], [GiaBan], [HinhAnh], [TonKho], [NgayTao], [MoTa]) VALUES (2, N'Dell Vostro 3420', N'Core i3 1115G4, 8GB RAM, 256GB SSD, 14" FHD', 1, CAST(10500000.00 AS Decimal(18, 2)), N'dell-vostro-3420.jpg', 14, CAST(N'2025-12-12T20:23:53.303' AS DateTime), NULL)
INSERT [dbo].[Laptop] ([MaLap], [TenLap], [CauHinh], [MaHang], [GiaBan], [HinhAnh], [TonKho], [NgayTao], [MoTa]) VALUES (3, N'Asus Vivobook 15 OLED', N'Ryzen 5 5600H, 8GB RAM, 512GB SSD, 15.6" OLED', 2, CAST(16990000.00 AS Decimal(18, 2)), N'asus-vivobook-oled.jpg', 5, CAST(N'2025-12-12T20:23:53.303' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Laptop] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (1, N'FPT Trading', N'Duy Tân, Cầu Giấy, Hà Nội', N'02473008888', N'contact@fpt.com.vn')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (2, N'Digiworld', N'Võ Văn Tần, Q3, TP.HCM', N'02839290059', N'sales@dgw.com.vn')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (3, N'PSD (PetroSetco)', N'Thanh Đa, Bình Thạnh, TP.HCM', N'02835561899', N'info@psd.com.vn')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPN], [MaNCC], [NgayNhap], [TongTien]) VALUES (1, 1, CAST(N'2024-01-10T00:00:00.000' AS DateTime), CAST(190000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([MaPN], [MaNCC], [NgayNhap], [TongTien]) VALUES (2, 2, CAST(N'2024-02-15T00:00:00.000' AS DateTime), CAST(490000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([MaPN], [MaNCC], [NgayNhap], [TongTien]) VALUES (3, 3, CAST(N'2024-03-01T00:00:00.000' AS DateTime), CAST(272000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [MatKhau], [SoDienThoai], [DiaChi], [VaiTro], [NgayTao]) VALUES (1, N'Quản Trị Viên', N'admin@laptop.com', N'123', N'0909999999', N'TP.HCM', N'Admin', CAST(N'2025-12-12T20:23:53.330' AS DateTime))
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [MatKhau], [SoDienThoai], [DiaChi], [VaiTro], [NgayTao]) VALUES (2, N'Nguyễn Văn A', N'user1@gmail.com', N'123', N'0901234567', N'Hà Nội', N'Khach', CAST(N'2025-12-12T20:23:53.330' AS DateTime))
INSERT [dbo].[TaiKhoan] ([MaTK], [HoTen], [Email], [MatKhau], [SoDienThoai], [DiaChi], [VaiTro], [NgayTao]) VALUES (3, N'Trần Thị B', N'user2@gmail.com', N'123', N'0907654321', N'Đà Nẵng', N'Khach', CAST(N'2025-12-12T20:23:53.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HangSanX__E6C9BFA88AFB38CA]    Script Date: 14/12/2025 7:30:56 AM ******/
ALTER TABLE [dbo].[HangSanXuat] ADD UNIQUE NONCLUSTERED 
(
	[TenHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Albums] ADD  DEFAULT ((0)) FOR [SapXep]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ('Ch? duy?t') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[Laptop] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[Laptop] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('Khach') FOR [VaiTro]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK__Albums__MaLap__5070F446] FOREIGN KEY([MaLap])
REFERENCES [dbo].[Laptop] ([MaLap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK__Albums__MaLap__5070F446]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__MaLap__45F365D3] FOREIGN KEY([MaLap])
REFERENCES [dbo].[Laptop] ([MaLap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK__ChiTietDo__MaLap__45F365D3]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDon__MaDH__44FF419A] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK__ChiTietDon__MaDH__44FF419A]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__MaLap__34C8D9D1] FOREIGN KEY([MaLap])
REFERENCES [dbo].[Laptop] ([MaLap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK__ChiTietPh__MaLap__34C8D9D1]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPhi__MaPN__33D4B598] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK__ChiTietPhi__MaPN__33D4B598]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK__DonHang__MaTK__412EB0B6] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK__DonHang__MaTK__412EB0B6]
GO
ALTER TABLE [dbo].[Laptop]  WITH CHECK ADD  CONSTRAINT [FK__Laptop__MaHang__2A4B4B5E] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangSanXuat] ([MaHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Laptop] CHECK CONSTRAINT [FK__Laptop__MaHang__2A4B4B5E]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__PhieuNhap__MaNCC__2F10007B] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK__PhieuNhap__MaNCC__2F10007B]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã giao' OR [TrangThai]=N'Chờ duyệt'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]='Khach' OR [VaiTro]='Admin'))
GO
USE [master]
GO
